@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins&display=swap');

body{
  background-color: rgb(80, 159, 255)
}

#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
}

.logo:hover {
  filter: drop-shadow(0 0 2em white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em white);
}

.card {
  padding: 2em;
}
